@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";




.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }


  .box-shasow-custom{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .font-Roboto{
    font-family: "Roboto", sans-serif;
  }
  .font-inter{
    font-family: "Inter", sans-serif;
  }
  .video_info_icon{
    @apply flex items-center justify-center bg-[#f2f2f2] px-2 gap-2 rounded-full text-[1rem] py-1 md:text-[1.2rem]  md:px-3 md:font-semibold
  }