@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";




.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }


  .box-shasow-custom{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .font-Roboto{
    font-family: "Roboto", sans-serif;
  }